<br>
<br>
<h2>Dashboard</h2>
<blockquote>
    <h4>Number of users currently logged in: <strong>{{usersLoggedIn}}</strong></h4>


    <h2>Hours worked for all users: </h2>
    <h3>{{hoursWorked}}</h3>
    <h4>{{newProperty}}</h4>
</blockquote>

<h1>Brandon stuff</h1>
<div class="container-fluid">
<div class="row">
<!--Time Widget: Who's In/Out/Absent-->
<div class="card col-lg-6 col-md-6">
    <h1 class="header">Who's In / Out / Absent</h1>

    <div class="content-wrapper">
        <div class="content">
            <table class="table table-striped table-hover table-collapsible">
                <caption>
                    <div>Thursday April 10, 2014 03:21:35 PM</div>
                </caption>
                <thead>
                <tr>
                    <th>
                        <div>Employee</div>
                    </th>
                    <th>
                        <div>Status</div>
                    </th>
                    <th>
                        <div>Last Punch</div>
                    </th>
                    <th>
                        <div>Department</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div>Eaton, Terry</div>
                    </td>
                    <td>
                        <div>IN</div>
                    </td>
                    <td>
                        <div>08:02:15 AM</div>
                    </td>
                    <td>
                        <div>Shipping</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Murray, Nikki</div>
                    </td>
                    <td>
                        <div>OUT-LUNCH</div>
                    </td>
                    <td>
                        <div>11:22:41 AM</div>
                    </td>
                    <td>
                        <div>Shipping</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Walton, Andrew</div>
                    </td>
                    <td>
                        <div>OUT</div>
                    </td>
                    <td>
                        <div>03:15:23 PM</div>
                    </td>
                    <td>
                        <div>Receiving</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Clemons, Brandon</div>
                    </td>
                    <td>
                        <div>OUT-LUNCH</div>
                    </td>
                    <td>
                        <div>12:02:31 PM</div>
                    </td>
                    <td>
                        <div>Marketing</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>De La Garza, Sam</div>
                    </td>
                    <td>
                        <div>OUT</div>
                    </td>
                    <td>
                        <div>02:12:31 PM</div>
                    </td>
                    <td>
                        <div>Receiving</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Time Widget: Pay Period Hours Summary/Approvals-->
<div class="card col-lg-6 col-md-6">
<h1 class="header">Pay Period Hours Summary and Approvals</h1>

<div class="content-wrapper">
<div class="content">
<table class="table table-striped table-hover table-collapsible">
<caption>
    <div>Pay Period: 3/23/2014 - 4/5/2014</div>
</caption>
<thead>
<tr>
    <th>
        <div>Employee</div>
    </th>
    <th>
        <div>REG</div>
    </th>
    <th>
        <div>OT</div>
    </th>
    <th>
        <div>VAC</div>
    </th>
    <th>
        <div>HOL</div>
    </th>
    <th>
        <div>Total</div>
    </th>
    <th>
        <div>Other Pay</div>
    </th>
    <th>
        <div></div>
    </th>
</tr>
</thead>
<tbody>
<tr>
    <td>
        <div>Eaton, Terry</div>
    </td>
    <td>
        <div>80</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>4</div>
    </td>
    <td>
        <div>80</div>
    </td>
    <td>
        <div>$50.00</div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>Murray, Nikki</div>
    </td>
    <td>
        <div>40</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>40</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>Walton, Andrew</div>
    </td>
    <td>
        <div>36</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>40</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>76</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>Clemons, Brandon</div>
    </td>
    <td>
        <div>80</div>
    </td>
    <td>
        <div>4</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>84</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>Zeigler, Renee</div>
    </td>
    <td>
        <div>80</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>80</div>
    </td>
    <td>
        <div>$263.10</div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>De La Garza, Sam</div>
    </td>
    <td>
        <div>40</div>
    </td>
    <td>
        <div>10</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div>50</div>
    </td>
    <td>
        <div></div>
    </td>
    <td>
        <div class="text-center">
            <button type="button" class="btn btn-default">
                <i class="icon"></i>
                Approve
            </button>
        </div>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>

<div class="row">
    <!--Time Widget: Approaching Overtime≈-->
    <div class="card col-lg-6 col-md-6">
        <h1 class="header">Approaching Overtime</h1>

        <div class="content-wrapper">
            <table class="table table-striped table-hover table-collapsible">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Daily</th>
                    <th>Weekly</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Eaton, Terry</td>
                    <td>10</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>Murray, Nikki</td>
                    <td>7</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>Walton, Andrew</td>
                    <td>3</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>Clemons, Brandon</td>
                    <td>7</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Zeigler, Renee</td>
                    <td>2</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>De La Garza, Sam</td>
                    <td>3</td>
                    <td>40</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Time Widget: Time Card exceptions-->
    <div class="card col-lg-5 col-md-5">
        <h1 class="header">Time Card Exceptions</h1>

        <div class="content-wrapper">
            <div class="content">
                <table class="table table-striped table-hover table-collapsible">
                    <caption>
                        <div><strong class="text-center">Thursday April 10, 2014 03:21:35 PM</strong></div>
                    </caption>
                    <thead>
                    <tr rowspan="4">
                        <td > <div class="text-left">Date Range: 3/23/2014 - 4/5/2014</div></td>
                    </tr>
                    <tr>
                        <td><strong>Employee</strong></td>
                        <td class="text-center"><strong>Critical</strong></td>
                        <td class="text-center"><strong>Non-Critical</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Davis, Joe</td>
                        <td class="text-right">3</td>
                        <td class="text-right">1</td>
                    </tr>
                    <tr>
                        <td>Jones, Eric</td>
                        <td class="text-right">5</td>
                        <td class="text-right">0</td>
                    </tr>
                    <tr>
                        <td>Smith, Larry</td>
                        <td class="text-right">2</td>
                        <td class="text-right">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
